<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EducateMonitor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Push.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>UIPush.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57455F391E7639E900182981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57455F4D1E7639E900182981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57455F581E7639E900182981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57C88A421EAD926B00A02C51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57C88A531EADC6E900A02C51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
